@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "Geist Sans", sans-serif; /* Nome da fonte definida */
  --font-geist: "Roboto", monospace; /* Nome da fonte para monospace */
}

html {
  width: auto;
  height: auto;
  font-family: var(
    --font-geist-sans
  ); /* Define a fonte principal como padrão */
}

.bg-gradient-custom {
  background: linear-gradient(to right, #212121 90%, #e5e7eb00 10%);
}
